.containerBlock {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    /*align-content: center;*/
}

.container {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin: 0 auto;*/
    /*align-content: center;*/
}

.mainBlock {
    width: 400px;
    height: 400px;
    background-color: pink;
    border-radius: 20%;
    flex-wrap: wrap;
}

.savings {
    width: 800px;
    height: 200px;
    background-color: #c3e58b;
    border-radius: 20%;
}