.App {
    text-align: center;
    font-family: Roboto, san-serif;
    /*background-color: #fcfbff;*/
    background-color: #f2f2f3;
    min-height: 100vh;
}

.Container {
    margin: 0 auto;
    width: 80%;
    /*background-color: #fcfbff;*/
    /*background-color: #f2f2f3;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {

}

