.mainItemContainer {
    width: 45%;
    height: 400px;
    border-radius: 8px;
    flex-wrap: wrap;
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
    margin: 5px;
    margin-top: 20px;
}


.title {
    padding: 10px;
    line-height: 1.2;
    font-weight: 600;
}

.mainItemBlock {
    height: 350px;
    border-radius: 8px;
    padding: 5px;
}

.mainItemBlock:hover {
    box-shadow: grey;
}

@media screen and (max-width: 575px) {
    .mainItemContainer {
        width: 90%;
    }
}
